{{ header }}{{ column_left }}
<div id="content">
  <div class="page-header">
    <div class="container-fluid">
      <div class="float-end">
        <button type="submit" form="form-payment" data-bs-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa-solid fa-save"></i></button>
        <a href="{{ back }}" data-bs-toggle="tooltip" title="{{ button_back }}" class="btn btn-light"><i class="fa-solid fa-reply"></i></a>
      </div>
      <h1>{{ heading_title }}</h1>
      <ol class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
          <li class="breadcrumb-item"><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
      </ol>
    </div>
  </div>
  <div class="container-fluid">
    <div class="card">
      <div class="card-header">
        <i class="fa-solid fa-pencil"></i> {{ text_edit }}
      </div>
      <div class="card-body">
        <form id="form-payment" action="{{ save }}" method="post" data-oc-toggle="ajax">
          
          <div class="row mb-3 required">
            <label for="input-client-id" class="col-sm-2 col-form-label">{{ entry_client_id }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_lodin_client_id" value="{{ payment_lodin_client_id }}" placeholder="{{ entry_client_id }}" id="input-client-id" class="form-control"/>
            </div>
          </div>
          
          <div class="row mb-3 required">
            <label for="input-client-secret" class="col-sm-2 col-form-label">{{ entry_client_secret }}</label>
            <div class="col-sm-10">
              <input type="password" name="payment_lodin_client_secret" value="{{ payment_lodin_client_secret }}" placeholder="{{ entry_client_secret }}" id="input-client-secret" class="form-control"/>
            </div>
          </div>
          
          <div class="row mb-3">
            <label for="input-pending-status" class="col-sm-2 col-form-label">{{ entry_pending_status }}</label>
            <div class="col-sm-10">
              <select name="payment_lodin_pending_status_id" id="input-pending-status" class="form-select">
                {% for order_status in order_statuses %}
                  <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == payment_lodin_pending_status_id %} selected{% endif %}>{{ order_status.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          
          <div class="row mb-3">
            <label for="input-completed-status" class="col-sm-2 col-form-label">{{ entry_completed_status }}</label>
            <div class="col-sm-10">
              <select name="payment_lodin_completed_status_id" id="input-completed-status" class="form-select">
                {% for order_status in order_statuses %}
                  <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == payment_lodin_completed_status_id %} selected{% endif %}>{{ order_status.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          
          <div class="row mb-3">
            <label for="input-failed-status" class="col-sm-2 col-form-label">{{ entry_failed_status }}</label>
            <div class="col-sm-10">
              <select name="payment_lodin_failed_status_id" id="input-failed-status" class="form-select">
                {% for order_status in order_statuses %}
                  <option value="{{ order_status.order_status_id }}"{% if order_status.order_status_id == payment_lodin_failed_status_id %} selected{% endif %}>{{ order_status.name }}</option>
                {% endfor %}
              </select>
            </div>
          </div>
          
          <div class="row mb-3">
            <label for="input-status" class="col-sm-2 col-form-label">{{ entry_status }}</label>
            <div class="col-sm-10">
              <div class="form-check form-switch form-switch-lg">
                <input type="hidden" name="payment_lodin_status" value="0"/>
                <input type="checkbox" name="payment_lodin_status" value="1" id="input-status" class="form-check-input"{% if payment_lodin_status %} checked{% endif %}/>
              </div>
            </div>
          </div>
          
          <div class="row mb-3">
            <label for="input-sort-order" class="col-sm-2 col-form-label">{{ entry_sort_order }}</label>
            <div class="col-sm-10">
              <input type="text" name="payment_lodin_sort_order" value="{{ payment_lodin_sort_order }}" placeholder="{{ entry_sort_order }}" id="input-sort-order" class="form-control"/>
            </div>
          </div>
          
          <div class="alert alert-info">
            <strong>{{ help_webhook }}</strong><br/>
            <code>{{ webhook_url }}</code>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>
{{ footer }}
